<% @title = "Application Programming Interface - API" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">

<h2>API</h2>

<p>NuVăSuparați.info are un API pentru citire și scriere. API-ul nu este dezvoltat de noi, ci e același ca al platformei Alaveteli</p>
<p>Pentru mai multe informații despre api-ul Alaveteli, dă click <a href="http://alaveteli.org/docs/developers/api/">aici</a></p>
<p>Dacă ai probleme folosind API-ul, te rugăm să ne <a href="/help/contact">contactezi</a> și să ne spui ce probleme ai întâmpinat.</p>

<div id="hash_link_padding"></div>

</div>
